<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleDisplayName</key>
		<string>$(APP_NAME)</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(MARKETING_VERSION)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>$(IOS_BUNDLE_ID)</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>$(IOS_REVERSED_CLIENT_ID)</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>LSRequiresIPhoneOS</key>
		<true />
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<false />
			<key>NSAllowsLocalNetworking</key>
			<true />
		</dict>
		<key>NSDocumentPickerAlwaysUsageDescription</key>
		<string>Our application needs access to your library to select files.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string></string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Our application needs access to your photo library.</string>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>BootSplash</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>arm64</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false />
		<key>UIAppFonts</key>
		<array>
			<string>Inter-Black.ttf</string>
			<string>Inter-BlackItalic.ttf</string>
			<string>Inter-Bold.ttf</string>
			<string>Inter-BoldItalic.ttf</string>
			<string>Inter-ExtraBold.ttf</string>
			<string>Inter-ExtraBoldItalic.ttf</string>
			<string>Inter-ExtraLight.ttf</string>
			<string>Inter-ExtraLightItalic.ttf</string>
			<string>Inter-Italic.ttf</string>
			<string>Inter-Light.ttf</string>
			<string>Inter-LightItalic.ttf</string>
			<string>Inter-Medium.ttf</string>
			<string>Inter-MediumItalic.ttf</string>
			<string>Inter-Regular.ttf</string>
			<string>Inter-SemiBold.ttf</string>
			<string>Inter-SemiBoldItalic.ttf</string>
			<string>Inter-Thin.ttf</string>
			<string>Inter-ThinItalic.ttf</string>
			<string>InterDisplay-Black.ttf</string>
			<string>InterDisplay-BlackItalic.ttf</string>
			<string>InterDisplay-Bold.ttf</string>
			<string>InterDisplay-BoldItalic.ttf</string>
			<string>InterDisplay-ExtraBold.ttf</string>
			<string>InterDisplay-ExtraBoldItalic.ttf</string>
			<string>InterDisplay-ExtraLight.ttf</string>
			<string>InterDisplay-ExtraLightItalic.ttf</string>
			<string>InterDisplay-Italic.ttf</string>
			<string>InterDisplay-Light.ttf</string>
			<string>InterDisplay-LightItalic.ttf</string>
			<string>InterDisplay-Medium.ttf</string>
			<string>InterDisplay-MediumItalic.ttf</string>
			<string>InterDisplay-Regular.ttf</string>
			<string>InterDisplay-SemiBold.ttf</string>
			<string>InterDisplay-SemiBoldItalic.ttf</string>
			<string>InterDisplay-Thin.ttf</string>
			<string>InterDisplay-ThinItalic.ttf</string>
		</array>
	</dict>
</plist>