<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337097292915-10svr78pi0t4bfmmi5ps4m2btq8m727t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337097292915-10svr78pi0t4bfmmi5ps4m2btq8m727t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>337097292915-3eejk6fkfks5l3kotnqtsi2kc0981r6r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJrAkhbZuniiOs01cmf7u1yX7XwNB7qms</string>
	<key>GCM_SENDER_ID</key>
	<string>337097292915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nutsales.light</string>
	<key>PROJECT_ID</key>
	<string>nutsales-light</string>
	<key>STORAGE_BUCKET</key>
	<string>nutsales-light.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337097292915:ios:8ac1bbad7aa2d655e37e06</string>
</dict>
</plist>
